#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body{
  display: flex;
}

#task-list{
  max-width: 500px;
  display: flex ;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  background-color: #222;
  border-radius: 12px;
}

.tasks-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
  align-items: start;
}