.task-container{
  display: grid;
  grid-template-columns: auto 226px auto ;
  gap: 8px;
}

.done-task-text{
  text-decoration: line-through;
}

.delete-icon{
  align-self: center;
}

.delete-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: .2s;
  color: #943543;
}

